

.header {
    background-color: #D9D9D9;
    
    
    
    
}

.home__h1 {
    font-weight: 700;
    font-size: 64px;
    margin: 50px 0 50px 0;

    
}


.proyects_item {
    background-color: #d9d9d9;
    margin-top: 24px;
    
    }



    .item__11 {
        height: 255px;
        padding: 16px;
    }
    
    .item__43 {
        height: 191px;
        padding: 16px;
    }
    .item__34{
        height: 340px;
        padding: 16px;
    }